{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Wells Map</title>
    <style>
        #map {
            height: 1150px;
            width: 100%;
        }
        .button {
            background-color: blue; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNM6MofA757awGhMwAObCf156Tcp0gaws&callback=initMap&libraries=&v=weekly"
      defer
    ></script>

  </head>
  <body>
    <h3>WaterWells</h3>
    <div id="map"></div>

    <script>
        
        function initMap() {
            
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                (position) => {
                    const pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude,
                    };
                    map.setCenter(pos);
                },
                () => {
                    handleLocationError(true, infoWindow, map.getCenter());
                }
                );
            } else {
                // Browser doesn't support Geolocation
                const pos = {
                    lat: 53.5,
                    lng: -113.5,
                };
                map.setCenter(pos);
            }

            map = new google.maps.Map(document.getElementById("map"), {
                zoom: 12,
            });


            google.maps.event.addListener(map, 'click', 
                function(event){
                    //addMarker({coords:event.latLng});
                    var temp;
                    var templat;
                    var templon;
                    var tempdescription;
                    Swal.mixin({
                        input: 'text',
                        confirmButtonText: 'Next &rarr;',
                        showCancelButton: true,
                        progressSteps: ['1', '2']
                        }).queue([
                        {
                            title: 'Status of the Well',
                            text: 'Active, Dry, or Polluted'
                        },
                        'Enter Description',
                        ]).then((result) => {
                        if (result.value) {
                            const answers = JSON.stringify(result.value)
                            // Swal.fire({
                            // confirmButtonText: 'Add!'
                            // })
                            var today = new Date();
                            var dd = String(today.getDate()).padStart(2, '0');
                            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                            var yyyy = today.getFullYear();

                            today = dd+ '/' + mm + '/' + yyyy;

                            var value = result.value[0];
                            
                            var description = result.value[1];
                            description = description + " " + today;      
                            temp = value;
                            tempdescription = description                      
                        }
                        
                        // if (description!=null){
                        temp = temp.toLowerCase();
                        if ((temp == "active") || (temp == "dry") || (temp == "polluted") ){
                            console.log(temp);
                            var templatlon = event.latLng.toJSON();
                            templat = templatlon["lat"];
                            templon = templatlon["lng"];
                            addMarker({coords:event.latLng, content:description, iconImage: value.toLowerCase()});
                            var xhttp = new XMLHttpRequest();
                            var data = {status: temp, lat: templat, lon:templon, description: tempdescription}

                            xhttp.open("POST", "add/", true);
                            xhttp.setRequestHeader('Content-Type', 'application/json');
                            xhttp.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                            var body = JSON.stringify(data);
                            xhttp.send(body);


                        }
                        
                        //  }
                        // else{
                        // addMarker({coords:event.latLng});
                        // }

                        })
                    
                    //var description = prompt("Please enter some description");

                });
            var obj = '{{ all_items|safe }}';
            obj = JSON.parse(obj);
            for (i = 0; i < obj.length; i++){
                console.log(obj[i])
                var point = new google.maps.LatLng(obj[i]["fields"]["lat"], obj[i]["fields"]["lon"]);
                var id = obj[i]["pk"];
                addMarker({coords: point, content: obj[i]["fields"]["description"], iconImage: obj[i]["fields"]["status"]}, id);
            }
        }
        
        
        
      
        var currentMarker;
        var currentID;
        function addMarker(props, id){
            
            var active = "{% static 'Wells/images/icon_active.png' %}"
            var dry = "{% static 'Wells/images/icon_dry.png' %}"
            var polluted = "{% static 'Wells/images/icon_polluted.png' %}"

            var marker = new google.maps.Marker({
                position: props.coords,
                map: map,
            });
            
            if (props.content){
                var infoWindow = new google.maps.InfoWindow({
                    content: props.content
                });

                marker.addListener('click', function(){
                    infoWindow.open(map,marker);
                    var x = document.getElementById("edit");
                    x.style.visibility = "visible"
                    currentMarker = marker;
                    currentID = id;
                });

                infoWindow.addListener('closeclick', function(){
                    var x = document.getElementById("edit");
                    x.style.visibility = "hidden"
                    currentMarker = 0;
                });
                
            }

            if (props.iconImage){
                if (props.iconImage == "active"){
                    marker.setIcon(active);
                }
                else if (props.iconImage == "dry"){
                    marker.setIcon(dry);
                }
                else if (props.iconImage == "polluted"){
                    marker.setIcon(polluted);
                }  
            }

        }

        function editMarker(){
            var temp;
            var tempdescription;
            Swal.mixin({
                input: 'text',
                confirmButtonText: 'Next &rarr;',
                confirmButtonText: 'Next &rarr;',
                showCancelButton: true,
                progressSteps: ['1', '2']
                }).queue([
                {
                    title: 'Status of the Well',
                    text: 'Active, Dry, or Polluted'
                },
                'Enter Description',
                ]).then((result) => {
                if (result.value) {
                    const answers = JSON.stringify(result.value)
                    // Swal.fire({
                    // confirmButtonText: 'Add!'
                    // })
                    var today = new Date();
                    var dd = String(today.getDate()).padStart(2, '0');
                    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                    var yyyy = today.getFullYear();

                    today = dd+ '/' + mm + '/' + yyyy;

                    var value = result.value[0];
                    
                    var description = result.value[1];
                    description = description + " " + today;      
                    temp = value;
                    tempdescription = description                      
                }
                
                // if (description!=null){
                temp = temp.toLowerCase();
                if ((temp == "active") || (temp == "dry") || (temp == "polluted") ){
                    console.log(temp);
                    var xhttp = new XMLHttpRequest();
                    console.log(currentID)
                    var data = {status: temp, description: tempdescription, id: currentID}
                    var url = "edit/"

                    xhttp.open("POST", url, true);
                    xhttp.setRequestHeader('Content-Type', 'application/json');
                    xhttp.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    var body = JSON.stringify(data);
                    xhttp.send(body);


                }
                })

        }
    </script>



    <button id="edit" class="button" style="visibility: hidden;" onclick="editMarker()">Edit</button>

  </body>

    <!-- Including  jQuery Dialog UI Here-->
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/ui-darkness/jquery-ui.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/dialog.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>




</html>